* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(17, 17, 17);
}

.container {
  height: 100%;
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(resizefog.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: rgb(77, 77, 77);
  background-color: rgba(0, 0, 0, 0.377);
  margin-top: 200px;
}

.footer {
  font-size: .8rem;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(77, 77, 77);
}

a:hover {
  color: rgb(77, 77, 77);
}
/* --------------------------- */

.right-container {
  display: flex;
  flex-direction: column;
  color: rgb(77, 77, 77);;
}

.paragraph-container {
  width: 700px;
  padding: 30px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.sentence {
  margin-top: 30px;
}

